<div class="content-monitor" *ngFor="let acceso of accesos">
	<div class="fila">
		<div></div>
		<div class="">{{acceso[4][1]}}</div>
		<div class="">{{acceso[4][2] | formatTime}}</div>
		<div class="">{{acceso[4][3]=='I'?'INGRESO':'SALIDA'}}</div>
	</div>

	<div class="fila">
		<div></div>
		<div>{{acceso[3][1]}}</div>
		<div>{{acceso[3][2] | formatTime}}</div>
		<div>{{acceso[3][3]=='I'?'INGRESO':'SALIDA'}}</div>
	</div>

	<div class="fila">
		<div></div>
		<div>{{acceso[2][1]}}</div>
		<div>{{acceso[2][2] | formatTime}}</div>
		<div>{{acceso[2][3]=='I'?'INGRESO':'SALIDA'}}</div>
	</div>

	<div class="fila">
		<div></div>
		<div>{{acceso[1][1]}}</div>
		<div>{{acceso[1][2] | formatTime}}</div>
		<div>{{acceso[1][3]=='I'?'INGRESO':'SALIDA'}}</div>
	</div>

	<div class="fila">
		<div></div>
		<div>{{acceso[0][1]}}</div>
		<div>{{acceso[0][2] | formatTime}}</div>
		<div>{{acceso[0][3]=='I'?'INGRESO':'SALIDA'}}</div>
	</div>
</div>

<div class="hora_actual_server" *ngFor="let acceso of accesos">
	{{acceso[4][4]}}
</div>

<router-outlet></router-outlet>